.content {
   display: flex;
   flex-direction: column;

   .content-profile {
      width: 75vw;
      min-width: 800px;
   }

   .profile-content {
      display: flex;
      justify-content: center;
      background-color: rgb(255, 255, 255);
      height: 60vh;
      box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.2);
      padding: 5vh 3vw;

      .profile-inputs {
         display: flex;
         gap: 5%;
         width: 100%;
         padding-top: 50px;

         .profile-image {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            justify-content: center;
            width: 25%;
            height: 50%;
            background-color: rgba(30, 61, 102, 0.05);
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            
            .image {
               cursor: pointer;
               width: 140px;
               height: 140px;
            
               img {
                  width: 100%;
                  height: 100%;
                  border-radius: 50%;
                  object-fit: cover;
               }
            }
         }
         
         
         .profile-form {
            display: flex;
            flex-direction: column;
            gap: 15px;
            width: calc(100% - (25% - 15px));
         }

      }
   }   

   button {
      font-family: 'Inter', sans-serif;
      color: #1e3d66cc;
      border: 1px solid #1e3d66cc;
      box-shadow: 0px 0px 5px 0px #a7a7a7cc;
   }

   button:hover {
      color: #f1f1f1;
      background-color: #1e3d66cc;
      box-shadow: 1px 1px 10px 1px #747474cc;
   }
}