h1 {
   margin: 2vh;
   min-height: 15px;
}

.main-profile {
   display: flex;
   flex-direction: column;


   .conteudo {
      
      width: 60vw;
      min-width: 600px;
   }

   .centralizar {
      align-items: center;
      text-align: center;
      justify-content: center;
   }

   .grid {
      display: grid;
      grid-template-columns: 1fr 25fr;

   }
   
   .titulo {
      display: flex;
      background-color: rgba(255, 255, 255);
      border-bottom: 3px solid #1e3d66;
      padding: 2vh 3vw;
      align-items: center;
      justify-content: space-between;
      
      span {
         letter-spacing: 2px;
         font-weight: bold;
         font-size: 1.5rem;
      }

      .svg {
         height: 2rem;
      }
   }
}


.profile-form {
   display: flex;
   justify-content: space-around;
   background-color: rgb(255, 255, 255);
   height: 60vh;
   box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.2);
   padding: 5vh 3vw;
}

.profile-alterarFoto {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   cursor: pointer;
   gap: 10px;
   height: 10vh;
   width: 10vw;
   border: 2px solid red;
   padding: 50px;
   
   label {
      border: 2px solid red;
      width: 100%;
      height: 100%;
   }
}

.profile-image {
   img {
      width: 100%;
      height: 100%;
   }
}

.profile-inputs {
   display: flex;
   flex-direction: column;
   gap: 20px;
   width: 70%;
}