.content {
   display: flex;
   flex-direction: column;

   .content-author {
      width: 75vw;
      min-width: 800px;
   } 

   table {
      height: 100%;
      width: 100%;
      border: solid 1px red;


      thead {
         background-color: rgba(0, 0, 0, 0.1);
      }

      tbody {
         
      }
   }

}