.main-login {
   height: 100vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #1e3d66bf;
   background-image: url(client/public/logo.svg);
   background-image: repeating-conic-gradient(from 0deg at 50% 50%, #1e3d66bf 0%, #FFFFFF80 5%);
}

.content-login {
   height: 55vh;
   min-height: 400px;
   max-height: 600px;
   width: 20vw;
   min-width: 300px;
   padding: 2vh 2vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #f1f1f1;
   gap: 30px;
   box-shadow: 0px 0px 50px 10px rgba(0, 28, 80, 0.6);
   /* border: solid black 2px; */
   border-radius: 12px;

   a {
      text-decoration: none;
      color: #1e3d66;
   }
   
   a:hover {
      color: black;
   }
}

.logo-login {
   width: 45%;
   height: 35%;
   
   .form-image {
      width: 100%;
      height: 100%;
   }
}

.form-login {
   display: flex;
   flex-direction: column;
   width: 70%;

   input {
      border: solid rgba(30, 61, 102, 0.4) 1px;
   }
   
   button {
      color: #1e3d66;
      font-weight: 600;
      border: solid rgba(30, 61, 102, 0.4) 1px;

   }

   button:hover {
      color: #f1f1f1;
      background-color: #1e3d66;
   }
}

.grupos {
   display: flex;
   flex-direction: column;
   gap: 10px;
   width: 100%;
}