.main-login {
   height: 100vh;
   width: 100%;
   justify-content: center;
   align-items: center;

   h1 {
      justify-content: start;
   }
}

.campos {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   label {
      width: 25%;;
   }
   input {
      width: 75%;;
   }

}

.grupos {
   margin: 10px;
   button {
      width: 100%;
   }
}
.content {
   border: solid black 2px;
   border-radius: 12px;
   padding: 20px;
   background-color: rgb(241, 241, 241);
   justify-items: center;
   align-items: center;
}