main {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
   background-color: rgb(160, 114, 16);

   h1 {
      justify-content: center;
   }
}

/* 
.content {
  justify-content: center;
  align-items: center;
}

.campos {
   display: flex;
   justify-content: space-between;
}

label {
   align-self: flex-start;
}

input {
   margin: auto;
} */