.main-home {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
   background-color: rgba(30, 61, 102, 0.75);

   h1 {
      justify-content: center;
   }
}

/* 
.content {
  justify-content: center;
  align-items: center;
}

.campos {
   display: flex;
   justify-content: space-between;
}

label {
   align-self: flex-start;
}

input {
   margin: auto;
} */