#root, body {
   margin: 0px;
}

.main {
   position: relative;
   display: flex;
   overflow-y: auto;
   align-items: center;
   margin-top: 10vh;
   height: calc(100vh - 10vh);
   background-color: #1e3d66bf;
}