#root, body {
   margin: 0px;
}

.content {
   position: relative;
   display: flex;
   overflow-y: auto;
   align-items: center;
   justify-content: center;
   margin-top: 10vh;
   height: calc(100vh - 10vh);
   background-color: #1e3d66bf;

   .titulo {
      display: grid;
      grid-template-columns: 1fr 10fr;
      background-color: rgba(255, 255, 255);
      border-bottom: 3px solid #1e3d66;
      align-items: center;

      div {
         padding: 2vh 3vw;
      }

      .svg {
         height: 2rem;
         cursor: pointer;

         svg {
            height: 2rem;
            width: 2rem;
         }
      }

      .pagina {
         display: flex;
         justify-content: space-around;
         height: 2rem;

         span {
            letter-spacing: 2px;
            font-size: 1.5rem;
            font-weight: bold;
         }
      }  
   }
}